
{% extends 'layout.html' %}
{% block content %}

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <p class="lead"></p>
      </div>
    </div>
  </div>
</header>

  <!--ESTILOS PARA EL TYPEAHEAD-->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'typeahead.css' %}">

 <!-- Full Page Image Header with Vertically Centered Content -->
 {% if e != NULL %}
  <div id="key_alert" class="alert alert-warning" role="alert">
        <p class="text-center">Error at trying to set: {{e}}</p>
    </div>
  </div>
  {% endif %}


  <form class="form-inline" id="consulta">
      <h2><span class =" label label-default">Champion:</span></h2>

      <div class="form-group mx-sm-3 mb-2" id="the-basics">
        <input type="text" class="form-control typeahead" name="champion"  placeholder="Buscar campeón..." autocomplete="off">
      </div>

      <h2><span class =" label label-default">SummonerName:</span></h2>

      <div class="form-group mx-sm-3 mb-2" id="the-basics">
        <input type="text" class="form-control" name="SummonerName" autocomplete="off">
      </div>
      <button type="submit" class="btn btn-primary mb-2" >Submit</button>  
  </form>


<p class="lead">TOTAL MATCHES: {{totalGames}}</p>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th scope="col">Server</th>
        <th scope="col">gameId</th>
        <th scope="col">Champion</th>
        <th scope="col">queue</th>
        <th scope="col">season</th>
        <th scope="col">Fecha</th>
        <th scope="col">Rol</th>
        <th scope="col">Línea</th>
      </tr>
    </thead>
      <tr hidden id="tr_preloader">
        <td colspan="100%"><div id="div_preloader" class="preloader"></div></td>
        <!--<td colspan="100%"> <p class="text-center">hola mundo</p> </td>-->
      </tr>
    <tbody id="contenidoConsulta">
    {% for match in matches %}
      <tr>
        <td>
            <button type="button" class="btn btn-outline-primary window" onclick ="return abrir_modal('{% url 'modalContent' match.gameId %}', '{{ match.gameId }}')">
            Info
            </button>
        </td>
        <td>{{ match.platformId }}</td>
        <td>{{ match.gameId }}</td>
        <td><img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/champion/{{ match.champion }}.png" width="50" height="50"/></td>
        <!--<td><img src="http://opgg-static.akamaized.net/images/lol/champion/{{ match.champion }}.png" width="50" height="50"/></td>-->
        <td>{{ match.queue }}</td>
        <td>{{ match.season }}</td>
        <td>{{ match.timestamp }}</td>
        <td>{{ match.role }}</td>
        <td>{{ match.lane }}</td>
      </tr>
      <tr style="display:none;">
        <td colspan="9">
          <div class="collapse collapseExample">
            <div class="card card-body" data-gameid="{{ match.gameId }}">

            </div>
          </div>
        </td>
      <tr>
    {% endfor %}
    </tbody>
  </table>

{% if not totalGames %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <img class="mx-auto d-block" src="{% static "lulu.jpg" %}" alt="My image">
        </div>
    </div>
</div>
{% endif %}
{% if totalGames != 0 %}
  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if matches.has_previous %}
    <li class="page-item"><a class="page-link" href="?champion={{ champion }}&SummonerName={{ SummonerName }}&page=1">&lt;&lt;</a></li>
    <li class="page-item"><a class="page-link" href="?champion={{ champion }}&SummonerName={{ SummonerName }}&page={{matches.previous_page_number}}">Previous</a></li>

    <!--<a href="?page={{matches.previous_page_number}}"><</a>-->
    {% endif %}
    {% for num in matches.paginator.page_range %}

    {% if matches.number == num %}
    <li class="page-item active">
      <a class="page-link" href="?champion={{ champion }}&SummonerName={{ SummonerName }}&page={{num}}">{{num}} <span class="sr-only">(current)</span></a>
    </li>

    {% else %}
      <li class="page-item"><a class="page-link" href="?champion={{ champion }}&SummonerName={{ SummonerName }}&page={{num}}">{{num}}</a></li>
    {% endif %}  
    {% endfor %}

    {% if matches.has_next %}
    <li class="page-item"><a class="page-link" href="?champion={{ champion }}&SummonerName={{ SummonerName }}&page={{ matches.next_page_number }}">Next</a></li>
    <li class="page-item"><a class="page-link" href="?champion={{ champion }}&SummonerName={{ SummonerName }}&page={{matches.paginator.num_pages}}">&gt;&gt;</a></li>
    {% endif %} 
  </ul>
  </nav>
  {% endif %}
   
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Info</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">   
            
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

<script> 
$( document ).ready(function() {

    $('#the-basics .typeahead').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
      },
      {
      name: 'states',
      source: substringMatcher(states)
      });

    //$('#tabla-principal').removeClass("preloader");
});

function abrir_modal(url, gameId)
{
        $(".collapseExample").parent().parent().hide();
        $(".card-body").html("");
        $(".collapseExample").collapse('hide');

        $("[data-gameid='"+ gameId +"']").parent().parent().parent().show();
        $("[data-gameid='"+ gameId +"']").load(url);
        $("[data-gameid='"+ gameId +"']").parent().collapse('show');
}

</script>

<script>
var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });

    cb(matches);
  };
};

/*
var states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
  'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia', 'Hawaii',
  'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
  'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
  'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
  'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota',
  'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
  'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont',
  'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
];
*/
var states = {{ championNames|safe }};
</script>

<script>
$('#consulta').on('submit', function()
{
  $('#contenidoConsulta').hide();
  $('#tr_preloader').removeAttr('hidden');

  $.ajax({
        url : "matches/?champion={{ champion }}&SummonerName={{ SummonerName }}", // the endpoint
        type : "GET", // http method
        data : {}, // data sent with the get request

        // handle a successful response
        success : function(json) {
            $('#contenidoConsulta').show(); // remove the value from the input
            console.log("success"); // another sanity check
        },
        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
  });
});
</script>
<style>
.preloader {
  position:static;
  width:30em;
  height:30em;
  background:#FFF;
  background-image: url("/static/rotating.gif");
  background-repeat: no-repeat; 
  background-position: center;
  left:40px;
  top:20px;
  margin: 0 auto;
}
</style>
{% endblock %}
